/* Basic CSS for styling the website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

header {
  background-color: #01baef;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

.book {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.book h3 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
